
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #000;
  color: #fff;
  margin: 0;
}

.light-beam {
  background: linear-gradient(to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.2) 50%,
    rgba(255,255,255,0) 100%);
  filter: blur(6px);
}
